<app-filter
  [all]="totalProductsCount"
  [inStock]="totalProductsinStock"
  [outOfStock]="totalProductsOutOfStock"
  (selectedFilterRadioButtonChanged)="onFilterChanged($event)"
></app-filter>
<div class="product--container">
  <ng-container *ngFor="let prod of products">
    <ng-container
      *ngIf="
        selectedFilterRadioButton === 'all' ||
        prod.is_in_inventory.toString() === selectedFilterRadioButton
      "
    >
      <app-product
        [product]="prod"
        *ngIf="
          searchText === '' || prod.name.toLowerCase().includes(searchText)
        "
      ></app-product>
    </ng-container>
  </ng-container>
  <!-- *ngIf="selectedFilterRadioButton === 'all' || prod.is_in_inventory.toString() === selectedFilterRadioButton -->
  <!-- <div *ngFor="let prod of products">
    <app-product [product]="prod" *ngIf="searchText === '' || prod.name.toLowerCase().includes(searchText)"></app-product>
  </div> -->
  <!-- <div class="product--item" *ngFor="let prod of products">
    <div class="wishlist-sale-container">
      <div class="add-to--wishlist">
        <i class="fa fa-heart-o" aria-hidden="true"></i>
      </div>
      <div class="on-sale-tag" *ngIf="prod.discountPrice"> {{ ((prod.price - prod.discountPrice) / prod.price * 100) | number: '1.0-0'}}% OFF</div>
    </div>

    <div class="product--image">
      <img src="{{ prod.imageURL }}" class="product--image" />
    </div>

    <div class="add-to--price">{{"Giá: " + prod.price + " VNĐ"}}</div>

    <div class="product--name">{{ prod.name }}</div>
    <div class="product--category">{{ prod.gender }} . {{ prod.category }} . {{ prod.brand }}</div>
    <div class="product--available-colors">
      {{ prod.color.length }} Colors . Best Seller
    </div>
    <div class="product-is-in-stock" [ngStyle]="{fontWeight: 'bold', color: prod.is_in_inventory ? 'green' : 'red' }">
      {{prod.is_in_inventory ? 'Còn Hàng':'Hết Hàng'}}
    </div>
  </div> -->
</div>
