/*@import url('https://fonts.googleapis.com/css2?family=Manufacturing+Consent&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');*/
/*@import "~../node_modules/bootstrap/dist/css/bootstrap.min.css";?*/

/**{
    font-family: "Manufacturing Consent", "Montserrat", system-ui;
}*/

html, body {
  margin: 0;
  padding: 0;
  height: 100%;
  font-family: "Noto Sans JP", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}


.sidebar {
  position: fixed;
  top: 0;
  left: 0;
  width: 190px;
  height: 100%;
  background-color: #ffffff;
  color: rgb(0, 0, 0);
}

.top-header-container {
  position: relative;
  margin-left: 190px; /* Đẩy toàn bộ phần main ra khỏi sidebar */
}

.top-header {
  height: 60px;
  background-color: #a50d0d;
  color: white;
  display: flex;
  border-radius: 15px;
}

.product-list-container{
  margin-left: 190px;
  padding: 20px;
  height: calc(100vh - 60px); /* Chiều cao còn lại dưới header */
  overflow-y: auto;
}